<div>
<div>
  <h6>Category</h6>
  <hr />
  <div
    class="custom-control custom-radio m-2"
    *ngFor="let category of categories; index as i"
  >
    <input
      type="radio"
      value="{{ category._id }}"
      id="a{{ i }}"
      name="customRadio"
      class="custom-control-input"
    />
    <label
      (click)="categorySelected(category._id)"
      class="custom-control-label"
      for="a{{ i }}"
      >{{ category.catName }}</label
    >
  </div>
</div>
<br>
<br>

<div>
<h6>Price</h6>
<hr>
<select name="min" class="form-control mb-2" id="">
  <option value="100">Min Price</option>
</select>
<select name="max" class="form-control mb-2" id="">
  <option value="100">Max Price</option>
</select>
<div class="mb-2">
  <button class="btn-block btn btn-sm btn-light border rounded">Filter</button>
</div>
</div>
</div>